@import "../../scss/index.scss";

.about-us {
  padding: 70px 0;

  &__inner {
    display: flex;
    gap: 109px;
  }

  &__right {
    position: relative;
  }

  &__top-circle {
    position: absolute;
    top: -35px;
  }

  &__bottom-circle {
    position: absolute;
    bottom: -70px;
    left: -100px;
    z-index: -1;

  }
}
