@import "../../scss/index.scss";

.testimonials {
  background: #fdf3f7;
  margin: 70px 0;
  &__inner {
    padding: 45px 56px;
  }
}

.swiper {
    padding: 0 0 50px 0 !important;
}

.swiper-pagination-bullet {
  background: $grey-cacccf !important;
  width: 14px !important;
  height: 14px !important;
}

.swiper-pagination-bullet-active {
  background: #fdf3f7 !important;
  border: 1px solid $dark-pink !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: $dark-pink !important;
}
