@import "./reset.scss";
@import "./colors.scss";

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.body {
  background-color: $white;
  opacity: 0.9;
}

.more {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $dark-pink;
  font-size: 16px;
  font-weight: 500;
  line-height: 167%;
  letter-spacing: 0.32px;
}
